:root {
    /*  #menjadi var kumpulan warna agar memudahkan*/
    /* --biru:var #C4D9FF */
    --biru: #C4D9FF;
    --bg: #C5BAFF;
    --putih: #F5F5F5;
    --hitam: #09122C;
    /* # 0: x offset, y offset, besaran blur, padanaan warna */
    --shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}

body{
    /* 1.2rem : semua font default nya 1.2 dikali 16 pixel */
    font-size: 1.2rem;
    font-family: "Old Standard TT", serif;
    min-height: 2000px;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url(img/Michievo.jpeg);
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero {
    position: relative;
    /* vh: viewport height memenuhi tinggi layar */
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: "Old Standard TT", serif;
    font-size: 6rem;
    color: white;
}

.hero h4 {
    font-size: 1.6rem;
    color: white;
}

.hero p {
    font-size: 1.4rem;
    color: white;
}

.hero a {
    color: var(--hitam);
    background-color: #C4D9FF;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--hitam);
    color: #F5F5F5;
}

/* Media Query Agar Website menjadi responsive */

/* LAPTOP */
@media (max-width: 992px) {
    html{
        font-size: 75%;
    }
}

/* TABLET */
@media (max-width: 768px) {
    html{
        font-size: 65%;
    }
}

/* MOBILE */
@media (max-width: 576px) {
    html{
        font-size: 60%;
    }
}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }
  